@model CategoryListViewModel
<div class="container">
    <div class="navbar bg-light navbar-light navbar-expand-sm">
        <ul class="navbar-nav">
            @foreach (var item in Model.Categories)
            {
            <li class="nav-item">
                <a asp-controller="User" asp-action="List" asp-route-category="@item.Name.ToLower()"
                   class="nav-link text-center list-group-item-action @(Model.SelectedCategory== item.Name.ToLower()?"active":"")">
                    @item.Name
                </a>
            </li>
            }
        </ul>
    </div>
</div>
