<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketApp.webUI</title>
    <script src="https://kit.fontawesome.com/5264fedd63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @RenderSection("MessageBox", false) @*//zorunlu olmasının önüne geçtik*@


    @await Html.PartialAsync("_navbar")
    <div class="row">
        @await Component.InvokeAsync("CategoryList")
    </div>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;
            - <a asp-area="" asp-controller="Home" asp-action="Index">Arif Yusuf Yılmaz && Emin Utku Mert</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
