@model ProductListModel


@*Tasarım Daha Sonra Yapılacak*@
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
    </div>


    @foreach (var product in Model.Products)
    {
        @*<p>@item.Name</p>*@
        <partial name="_product" for="@product" />
    }


